<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cadastro GameZone</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cadastro.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='imagens/controle.png') }}" type="image/x-icon">
</head>
<body>
	
	<li><a onclick="toggleDarkMode()"><img id="icon" src="{{ url_for('static', filename='imagens/claro.png') }}" alt="Ícone de alternar entre modos claro e escuro"></a></li>
	<form method="POST">
		{{ formCadastro.csrf_token }}

		{% include 'mensagem.html' %}

		<h1>Cadastro</h1>
		{{ formCadastro.usuario.label }}
		{{ formCadastro.usuario }}
		{{ formCadastro.email.label }}
		{{ formCadastro.email }}
		{{ formCadastro.telefone.label }}
		{{ formCadastro.telefone }}
		{{ formCadastro.senha.label }}
		{{ formCadastro.senha }}
		{{ formCadastro.confirmarSenha.label }}
		{{ formCadastro.confirmarSenha }}
		{{ formCadastro.btn_cadastrar_usuario() }}
		<p>Já possui conta? <a href="{{ url_for('login') }}">Logar</a></p>
	</form>

	<script src="{{ url_for('static', filename='js/cadastro.js') }}"></script>
</body>
</html>
<script>
 // Recupera o modo atual do armazenamento local, se disponível
 const isDarkMode = localStorage.getItem("isDarkMode");

// Verifica se o modo escuro está habilitado no armazenamento local
if (isDarkMode === "true") {
  document.documentElement.classList.add("dark-mode");
}

// Recupera o ícone atual do armazenamento local, se disponível
const currentIcon = localStorage.getItem("currentIcon");

// Define o ícone padrão como o ícone claro
let iconSrc = "{{ url_for('static', filename='imagens/claro.png') }}";

// Verifica se o ícone escuro está selecionado no armazenamento local
if (currentIcon === "dark") {
  iconSrc = "{{ url_for('static', filename='imagens/claro.png') }}";
}

// Define o ícone no HTML
const icon = document.getElementById("icon");
icon.setAttribute("src", iconSrc);

function toggleDarkMode() {
  const html = document.documentElement;
  html.classList.toggle("dark-mode");

  // Salva o modo atual no armazenamento local
  const isDarkMode = html.classList.contains("dark-mode");
  localStorage.setItem("isDarkMode", isDarkMode);

  // Salva o ícone atual no armazenamento local
  let currentIcon = "light";
  if (html.classList.contains("dark-mode")) {
    currentIcon = "dark";
  }
  localStorage.setItem("currentIcon", currentIcon);

  // Alterna entre os ícones com animação
  icon.classList.toggle("animate-icon");
  setTimeout(() => {
    if (icon.getAttribute("src") === "{{ url_for('static', filename='imagens/modo-escuro.png') }}") {
      icon.setAttribute("src", "{{ url_for('static', filename='imagens/claro.png') }}");
    } else {
      icon.setAttribute("src", "{{ url_for('static', filename='imagens/modo-escuro.png') }}");
    }
    icon.classList.toggle("animate-icon");
  }, 300);
}



const inputs = document.querySelectorAll('input');

inputs.forEach(input => {
  input.addEventListener('input', function() {
    if (this.value.length > 0) {
      this.classList.add('filled');
    } else {
      this.classList.remove('filled');
    }
  });
});

// Seleciona o elemento da div
const divMensagens = document.querySelector('.contMsg');

// Define a função para remover a div após 5 segundos
const removerDiv = () => {
    divMensagens.remove();
}

// Define o atraso de 5 segundos e chama a função de remover a div
setTimeout(removerDiv, 5000);

</script>
